Repository 98000001/CS-Study, pull requests merged in 2024-03, with the labels that each got.

#28 dohyung / 8주차 / 3.1 ~ 3.3
  dohyung/OS/Memory.md
  dohyung/OS/OS, Computer.md
  dohyung/OS/Process, Thread.md
Labels: dohyung🍋

#32 koeyhk / 9주차 / OS 3.4, DB 4.1~4.3
  koeyhk/DB/ERD와 정규화 과정.md
  koeyhk/DB/데이터베이스의 기본.md
  koeyhk/DB/트랜잭션과 무결성.md
  koeyhk/OS/CPU 스케줄링 알고리즘.md
Labels: koeyhk🍊

#34 Jinny (⸝⸝･ᴗ･⸝⸝)੭˒˒ / 9주차 / [OS] 3.4 ~ [DB] 4.1~4.3
  jinny/DB/+ 트랜잭션.md
  jinny/DB/4.1 데이터베이스의 기본.md
  jinny/DB/4.2 ERD와 정규화 과정.md
  jinny/DB/4.3 트랜잭션과 무결성.md
  jinny/OS/3.4 CPU 스케줄링 알고리즘.md
Labels: jinny🍏
